<div class="container">
    <h3>Editar Proyecto</h3>
    <div class="row">
      <form (ngSubmit)="onUpdate()" ngNativeValidate #f="ngForm">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            name="titulo"
            placeholder="Título"
            [(ngModel)]="formData.titulo"
            required
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>        
        <div class="form-group">
          <label for="descripcion">Descripción del Proyecto</label>
          <textarea          
            rows="5"
            cols="50"
            class="form-control"
            id="descripcion"
            name="descripcion"
            placeholder="Descripción"
            [(ngModel)]="formData.descripcion"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha creación</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            name="fecha"
            [(ngModel)]="formData.fecha"
            required
          />
        </div>
        <div class="form-group">
            <label for="foto">Imagen</label>
            <input
              type="text"
              class="form-control"
              id="foto"
              name="foto"
              placeholder="Imagen"
              [(ngModel)]="formData.foto"              
            />
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="url">URL del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="url"
              name="url"
              placeholder="Link del proyecto"
              [(ngModel)]="formData.url"              
            />
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>        
          
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" routerLink="/portfolio">Cancelar</button>
      </form>
    </div>
  </div>