<!-- <div class="modal-job" (click)="closeModal()"> -->
<div class="modal-job">
  <div class="container col-5">
    <h3>Nueva Experiencia</h3>
    <div class="row">
      <form (ngSubmit)="onCreate()" #f="ngForm" ngNativeValidate>
        <div class="form-group">
          <label for="nombre">Nombre Posición</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            placeholder="Posición"
            [(ngModel)]="formData.nombre"
            required
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input
            type="text"
            class="form-control"
            id="empresa"
            name="empresa"
            placeholder="Empresa"
            [(ngModel)]="formData.empresa"
            required
          />
        </div>
        <div class="form-group">
          <label for="tipoJornada">Tipo Jornada</label>
          <select
            name="tipoJornada"
            id="tipoJornada"
            [(ngModel)]="formData.tipoJornada"
            class="select"
            required
          >
            <option value="Jornada Completa">Jornada Completa</option>
            <option value="Jornada Parcial">Jornada Parcial</option>
          </select>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción de la posición</label>
          <textarea
            rows="5"
            cols="50"
            class="form-control"
            id="descripcion"
            name="descripcion"
            placeholder="Descripción"
            [(ngModel)]="formData.descripcion"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="fechaInicio">Fecha Inicio</label>
          <input
            type="date"
            class="form-control"
            id="fechaInicio"
            name="fechaInicio"
            [(ngModel)]="formData.fechaInicio"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="checkbox"
            class="form-check-input checkbox"
            id="esTrabajoActual"
            [(ngModel)]="formData.esTrabajoActual"
            [ngModelOptions]="{ standalone: true }"
          />
          <label  class="form-check-label" for="esTrabajoActual"
            >Trabajo actual</label
          >
        </div>
        <div class="form-group">
          <label for="fechaFin">Fecha Fin</label>
          <input
            type="date"
            class="form-control"
            id="fechaFin"
            name="fechaFin"
            [(ngModel)]="formData.fechaFin"
            [disabled]="formData.esTrabajoActual == true"
          />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="closeAddJobModal()">
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
