<section id="inicio" class="container-fluid hero">
  <!--En esta fila va la barra de navegación-->

  <!--En este contenedor va el texto del header-->
  <div class="container-lg contenedor">
    <div class="row justify-content-start">
      <div class="col-6">
        <h1 class="display-1">Patricio Pagano</h1>
      </div>
      <div class="hero-lines"></div>
      <!-- <div class="display-6 icon-lines">
        <i class="fa-solid fa-feather-pointed"></i>
      </div> -->
      <div class="row justify-content-start">
        <div class="col-4">
          <h3 class="display-6">Full Stack Web Developer Junior</h3>
        </div>
      </div>
    </div>

    <!-- <div class="justify-end-to-center">
      <a class="btn btn-lg" href="#contacto">Contacto</a>
    </div> -->
  </div>
</section>
