<!--About-->
<section id="sobre_mi" class="container-fluid about-container">
  <div class="container py-4 about">
    <h2 class="display-6 mb-3 h2-lines about-title">Sobre mí</h2>
    <div class="row align-items-center py-3 about-image-container">      
      <div class="col-sm-4">
        <img
          src="../../../assets/images/sobre_mi.jpg"
          alt="Imágen CV"
          class="img-fluid about-image"
        />
      </div>
      <div class="col-sm-8 mt-3 about-text">
        <p class="fs-4">
          {{formData.sobreMi}}
          <br />
          <br />
          <span style="display: flex; justify-content: center"
            >¡Espero te guste mi portfolio!</span
          >
        </p>
      </div>
      <span *ngIf="isLogged" class="text-center">
        <button
        class="btn btn-lg btn-warning"        
        (click)="openEditAboutModal()"
      >
        <i class="fa fa-pencil"> Editar Descrpcion</i>
      </button>
      <div *ngIf="modalEditAboutSwitch == true">
        <app-edit-about [id]="formData.id"></app-edit-about>
      </div>      
    </span>
    </div>
  </div>
</section>
