<section id="educacion" class="container-fluid">
  <div class="container py-4">
    <h2 class="display-6 mb-3 h2-lines">Experiencia Laboral</h2>

    <ul class="row justify-content-center list-unstyled mt-3">
      <li class="col-12 card mb-3">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-md d-flex justify-content-between">
              <h4 class="card-title display-6">TITULO</h4>
              <div>
                <button class="btn btn-lg btn-warning m-1">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-lg btn-danger m-1">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>

          <h6 class="">
            EMPRESA - TIPO DE JORNADA
          </h6>

          <div class="col-md">
            <p class="fs-5">
              <span class="fw-bolder">FECHAS</span>
            </p>
          </div>
          <p class="card-text fs-4 paragraph-justify">Descripcion</p>
        </div>
      </li>
    </ul>
  </div>
</section>
