<section id="educacion" class="container-fluid">
  <div class="container py-4 contenedor">
    <h2 class="display-6 mb-3 h2-lines">Educación</h2>

    <ul class="row justify-content-center list-unstyled mt-3">
      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="imagenes/swalow.jpg" alt="Pachorra" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Entrenamiento con Pachorra
              </h4>
              <p class="card-text fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deserunt et porro totam sunt pariatur animi sit ullam, unde
                sapiente voluptate rerum illum placeat fugiat aliquam,
                voluptatibus nostrum inventore fugit. Nihil.
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-4">
                    <span class="fw-bolder">Año:</span> 2019-2020
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="imagenes/swalow4.jpg" alt="Norita" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Entrenamineto con Norita
              </h4>
              <p class="card-text fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                deleniti, molestias esse perspiciatis, totam quasi eum mollitia
                voluptas libero explicabo laudantium. Amet est atque
                consequuntur architecto accusamus maiores tempora iure?
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-4">
                    <span class="fw-bolder">Año:</span> 2019-2020
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
