<section id="habilidades" class="container-fluid">
  <div class="container py-4">
    <h2 class="display-6 mb-3 h2-lines">Habilidades</h2>
    <div>
      <button type="button" class="btn btn-success" routerLink='/tecnologia/new'>
        <i class="fa fa-add"> Agregar Tecnología</i>        
      </button>
    </div>
    <!-- <h4 class="display-7 mb-3">Frameworks & IDE</h4> -->
    <ul class="row justify-content-center list-unstyled">
      <li class="col-sm" *ngFor="let tecnologia of tecnologias">
        <img
          src="{{tecnologia.foto}}"
          alt=""
          class="sk-img"
        />
        <p class="fs-4 text-center">{{tecnologia.nombre}}</p> 
        <div class="text-center">
          <button class="btn btn-sm btn-warning m-1" routerLink="/tecnologia/update/{{tecnologia.id}}">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-sm btn-danger m-1" (click)="onRemove(tecnologia.id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="progress">
        <!-- <div class="progress" *ngIf="tecnologia.tipo=='framework' || tecnologia.tipo=='ide';" > -->
          <div class="progress-bar bg-success" role="progressbar" [style.width]="tecnologia.nivel+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
           <!-- <circle-progress
          *ngIf="tecnologia.tipo=='framework' || tecnologia.tipo=='ide';"          
          [percent]="tecnologia.nivel"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"          
          [imageSrc]="'tecnologia.foto'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          >          
        </circle-progress> -->
        
        
      <!-- <ng-template #elseBlock>        
      </ng-template> -->       
      </li>
      <!-- 
        <li class="col-sm">
          <circle-progress
          [percent]="70"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/QGIS.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="90"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF0000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/Microsoft_Office.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF0000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/angular2.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#00C9FF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/ReactJS.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="40"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02004F'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/django4.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02459B'"
          [innerStrokeColor]="'#02459B'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/Postgresql.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="30"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#2A2F37'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/flask2.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li> -->
    </ul>
    <!-- <h4 class="display-7 mb-3 mt-5">Lenguajes de Programación</h4>
    <ul class="row justify-content-center list-unstyled">
      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02459B'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/python.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
      </li>       

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#F1F900'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/javascript.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02459B'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/sql3.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>
    </ul> -->

    <!-- <h4 class="display-7 mb-3 mt-5">Otras tecnologías</h4>
    <ul class="row justify-content-center list-unstyled">
      <li class="col-sm">
        <circle-progress
          [percent]="70"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#F97900'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/html.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
    
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#003EFF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/css.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#F100DF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/scss.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF9700'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/git2.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="35"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#00BB1F'"
          [innerStrokeColor]="'#00BB1F'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/nodejs.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="30"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#E67A00'"
          [innerStrokeColor]="'#E67A00'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/spirateam.svg'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="20"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#A600FF'"
          [innerStrokeColor]="'#A600FF'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/rapise4.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        
      </li>
    </ul> -->
  </div>
</section>
