<section id="habilidades" class="container-fluid">
  <div class="container py-4">
    <h2 class="display-6 mb-3 h2-lines">Habilidades</h2>
    <h4 class="display-7 mb-3">Tecnologías</h4>
    <ul class="row justify-content-center list-unstyled">
      <li class="col-sm">
        <circle-progress
          [percent]="70"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/QGIS.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
            src="../../../assets/images/skills/QGIS.png"
            alt=""
            class="sk-img"
          /> -->
        <!-- <p class="fs-4 text-center">QGIS</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="90"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF0000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/Microsoft_Office.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/Microsoft_Office.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Paquete Office</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF0000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/angular2.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/angular2.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Angular</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#00C9FF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/ReactJS.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/ReactJS.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">React</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="40"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02004F'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/django4.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/django4.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Django</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02459B'"
          [innerStrokeColor]="'#02459B'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/Postgresql.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/Postgresql.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">PostgreSQL</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="30"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#2A2F37'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/flask2.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/flask2.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Flask</p> -->
      </li>
    </ul>
    <h4 class="display-7 mb-3 mt-5">Lenguajes de Programación</h4>
    <ul class="row justify-content-center list-unstyled">
      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02459B'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/python.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/python.png"
          alt="Cantar"
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Python</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#F1F900'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/javascript.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/javascript.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Javascript</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#02459B'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/sql3.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/sql3.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">SQL</p> -->
      </li>
    </ul>

    <h4 class="display-7 mb-3 mt-5">Más habilidades</h4>
    <ul class="row justify-content-center list-unstyled">
      <li class="col-sm">
        <circle-progress
          [percent]="70"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#F97900'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/html.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/html.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">HTML</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#003EFF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/css.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/css.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">SCSS/CSS</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="50"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#F100DF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/scss.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/scss.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">SCSS/CSS</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="60"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF9700'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/git2.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/git2.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">GIT</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="35"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#00BB1F'"
          [innerStrokeColor]="'#00BB1F'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/nodejs.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/nodejs.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">NodeJS</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="30"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#E67A00'"
          [innerStrokeColor]="'#E67A00'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/spirateam.svg'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/spirateam.svg"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Spirateam</p> -->
      </li>

      <li class="col-sm">
        <circle-progress
          [percent]="20"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#A600FF'"
          [innerStrokeColor]="'#A600FF'"
          [animation]="true"
          [animationDuration]="500"
          [imageSrc]="'../../../assets/images/skills/rapise4.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        >          
        </circle-progress>
        <!-- <img
          src="../../../assets/images/skills/rapise4.png"
          alt=""
          class="sk-img"
        /> -->
        <!-- <p class="fs-4 text-center">Rapise</p> -->
      </li>
    </ul>
  </div>
</section>
